body {
  background-color: #eaeaea;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}


.top_logo {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}

.logo img {
  min-width: 60px;
  width: 100%;
}

.nav_menu {
  justify-content: space-around;
  box-shadow: 0px 0px 13px 5px #c9c9c9;
  padding: 0 90px;
  height: 120px;
  background-color: #f8f8f8;
}

.nav {
  display: none;

}

.menu-toggler {
  background: none;
  border: none;
}

.menu-toggler:focus {
  border: none;
}

.nav-item a {
  font-size: 15px;
  text-transform: uppercase;
  color: black;

}

.nav-item a:hover {
  opacity: 0.5;
}


.open {
  display: flex !important;

}

.recipes {
  position: relative;
}

.sub-nav {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  padding: 20px 24px 0 24px;
  top: 100%;
  left: -50%;
  z-index: 1000;
  display: none;
  flex-direction: column;
}


.sub-nav a {
  opacity: 0.5;
  font-size: 12px;
}

.sub-nav a:hover {
  opacity: 1;
  text-decoration: underline;
}

header form {
  position: relative;
  font-size: 14px;
}

.search-form {
  width: 160px;
  padding: 0px 0px 0 40px;
}

form button {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}






section {
  box-shadow: 0px 0px 13px 5px #c9c9c9;
}

main {
  padding-top: 75px;
}

.mySlider {
  width: 100%;
}

.first-item {

  background: url(../img/first-item_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 70px 90px;

}

.logo {
  max-width: 250px;
}

.description {
  max-width: 355px;
}

.description .title {
  word-spacing: 3px;
  padding-top: 25px;
  color: #921026;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
}

.promo {
  max-width: 330px;
  line-height: 20px;
}

.myBtn {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27px;
  width: 105px;
  border: 1px solid #c2c2c2;
}

.myBtn a {

  display: flex;
  justify-content: center;
  width: 100%;

  padding-top: 5px;
  color: #000;
  text-decoration: none;
  font-size: 10px;


}

.mySlider .carousel-indicators {
  left: 75%;
  margin-right: 0;
}

.carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  opacity: 1;
  margin-left: 5px;

}

.carousel-indicators .active {
  background-color: #555;
}


.demo_recipes {
  justify-content: space-evenly;
  padding-top: 40px;
  margin-top: 75px;
  padding-bottom: 33px;
  background-color: #fff;
}

.recipe {
  max-width: 315px;
  font-size: 18px;
  line-height: 1.2rem;
}

.recipe_img {
  overflow: hidden;
  max-height: 210px;
  margin-bottom: 14px;
}

.recipe_img img {
  width: 100%;
}

.recipe_title {
  margin-bottom: 3px;
  letter-spacing: -1px;
}

.icons {
  word-spacing: 5px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.icons img {
  padding-bottom: 7px;
}


.full_recipe {
  overflow: hidden;
  margin-top: 90px;
  margin-bottom: 80px;
  height: 440px;
  background-color: #fff;
}

.full_recipe-img {
  margin-left: -35px;
  height: 100%;
}

.full_recipe-img img {

  height: 100%;
}

.recipe_description {
  padding: 20px 40px 20px 5px;
  height: 100%;

}

.recipe_description .icons {
  font-size: 18px;
}

.description_content {
  letter-spacing: -1px;
  margin-top: 25px;
  height: 65%;
  overflow-y: scroll;
  padding-right: 5px;
}

.description_content::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: #555;
  border-radius: 3px;
}

::-webkit-resizer {
  background-color: #666;
}


.description_title {
  word-spacing: 5px;
  font-family: 'Playfair Display', serif;
  color: #055555;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 20px;
}

.directions {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: bold;
}

.authors {
  margin-bottom: 100px;
  box-shadow: none;
}

.error {
  background: url(../img/sorry.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.sorry {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

.nopage {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #a9a9a9;
  margin-bottom: 0;
}

.smile {
  color: #a9a9a9;
  transform: rotate(60deg);
  text-align: center;
  font-size: 33px;
  font-family: 'Playfair Display', serif;
}





.author {
  padding: 20px 45px 30px;
  max-width: 520px;
  width: 100%;
  box-shadow: 0px 0px 13px 5px #c9c9c9;
  background-color: #f8f8f8;
}

.div_header {

  font-size: 20px;
  font-style: italic;
  border-bottom: 1px solid #ddd;
  padding: 0 0 2px 0;
}

.div_content {
  padding-top: 24px;
  height: 100%;
}

.author_photo img {
  border-radius: 50%;

}

.author_name {
  border-bottom: 1px solid #ddd;
  padding-bottom: 12px;
}

.name {
  margin-bottom: 2px;
  font-size: 24px;
  font-weight: bold;
}

.country {
  margin-bottom: 2px;
  letter-spacing: -1px;
}

.arcticle {
  padding-top: 23px;
  max-width: 290px;
}

.article_name {
  font-size: 20px;
}

.article_text {
  font-size: 12px;
  font-style: italic;
}

.signature {
  text-align: right;
}


.sidebar {
  box-shadow: none;
}

.sidebar_column {
  max-width: 290px;
  width: 100%;
}


.recipe_blog {
  box-shadow: 0px 0px 13px 5px #c9c9c9;
  background-color: #fff;
}


.blog_name {
  margin: 0 15px 12px 15px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 12px;
  padding-top: 20px;
  word-spacing: 5px;
  font-family: 'Playfair Display', serif;
  color: #055555;
  font-size: 22px;
  font-weight: 900;

}

.blog_slider .carousel-indicators {
  margin-bottom: 0;
}

.bloger img {
  border-radius: 50%;
}

.bloger_info {
  margin-left: 10px;
  margin-bottom: 12px;
}

.bloger_info p {
  line-height: 18px;
  margin-bottom: 0;
}


.bold {
  font-weight: bold;
}


.recipe_filter {
  width: 100%;
  box-shadow: 0px 0px 13px 5px #c9c9c9;
  background-color: #fff;
  padding-bottom: 18px;

}

.recipe_filter_top {
  margin: 0 15px 15px 15px;
  padding-bottom: 3px;
  padding-top: 20px;
  border-bottom: 2px solid #ddd;
}

.recipe_filter a+a {
  margin-left: 10px;

}

.filter_button {
  text-transform: uppercase;
  font-size: 12px;
  color: #636363;
}

input[type="radio"]:checked+label {
  color: #000;
  font-weight: bold;
}


.filter_button {
  padding: 0 15px;
  ;

}


.short_recipe {
  display: none;
  margin: 15px 15px 35px 15px;


}

.easy {
  display: flex;
}

.short_recipe_img {
  max-width: 50px;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.short_recipe_img img {
  height: 100%;
}

.short_recipe_feedback {
  font-size: 12px;
  padding: 0 10px;
}

.short_recipe_feedback p {
  margin: 0;
}

.feedback {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.view_more_btn {
  margin: 0 20px;

}


.popular {
  box-shadow: 0px 0px 13px 5px #c9c9c9;
  padding: 15px 17px 120px;
  background: url(../img/Popular.png);
  background-repeat: no-repeat;
  background-size: cover;

}

.popular_title {
  font-size: 32px;
  color: #921026;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  margin: 0 15px 15px 5px;
  padding-bottom: 5px;

  border-bottom: 2px solid #fff;
}

.popular_name {
  font-size: 22px;
  font-weight: bold;
  padding-top: 6px;
}

.popular_description {
  font-style: oblique;
  font-size: 16px;
  letter-spacing: -1px;
}

.popular .icons {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  letter-spacing: 0.5px;
}


.forms{
 
  box-shadow: none;
  margin-top: 100px;
}

.forms form{
  height: initial;
flex-direction: column;
justify-content: center;
align-items: center;

}
.form+.form{
  margin-left: 90px;
}

.login_form,
.signin_form{
  padding: 10px 30px;
  max-width: 330px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 13px 5px #c9c9c9;;
}

.form_title{
  font-style: oblique;
  font-size: 20px;
  margin-bottom:  25px;
  padding-bottom: 3px;
  
  border-bottom: 2px solid #ddd;
}

.form_name{
  letter-spacing: -1px;
}

.forms input[type="text"],
.forms input[type="password"]{
  width: 100%;
  font-style: oblique;
  letter-spacing: -1px;
  margin-top: 20px;
  padding: 5px 20px ;
  border: 1px solid #939393;
 
}
.forms input[type="text"]:focus,
.forms input[type="password"]:focus{
  box-shadow: inset 1px 1px 5px 1px rgba(99, 99, 99, 0.4);
  outline: none;
}
::placeholder{
  color: #939393;
}
.checkbox{
  width: 100%;
  margin-top: 20px;
  color: #989898;
}

.forms input[type="submit"]{
  margin-top: 20px;
  background-color: transparent;
  font-size: 12px;
}

#remember{
  background-color: transparent;
}
.checkbox label{
  font-size: 12px;
  width: auto;
  margin: 0;
}
.checkbox a{
font-style: oblique;
  font-size: 12px;
  text-decoration: none;
  color: #989898;
}
.forms .links{
  font-size: 22px;
  margin-top: 22px;
  
}
.forms .links a{
  margin: 0 12px;
}
.forms p{
  text-align: center;
  color: #989898;
  font-style: oblique;
  margin-top: 10px;
  margin-bottom: 0;
}

.signin_form p {
  text-align: start;
}

.signin_form p a{
  text-decoration: underline;
}

footer {
  margin-top: 100px;
  padding: 40px 10px 50px 20px;
  background-color: #2f2f2f;
  font-size: 10px;
  color: #636363;

}

footer .nav_menu {
  padding-top: 35px;
  padding-right: 50px;
  background-color: transparent;
  box-shadow: none;
  height: 100%;

}

footer .nav-item a {
  color: #636363;
  font-size: 11px;
  padding: 0 10px;
}

footer .nav {
  margin: 0 auto;
}

footer span {
  font-size: 15px;
  display: block;
  margin-left: 10px;
  color: #636363;

}

.copyright {
  text-transform: uppercase;
  font-size: 11px;
}

.links {
  width: 100%;
  padding: 0;
}

.links span {
  color: #636363;
}

@media(max-width: 1200px) {
  .authors {
    display: none !important;
  }

  .description_content {
    height: 55%;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1120px;
  }

}

@media (min-width:992px) {
  .nav_menu {
    justify-content: space-evenly;
  }

  .menu-toggler {
    display: none;
  }

  .nav {
    display: flex;
  }

  .recipes:hover .sub-nav {
    display: block;
  }

}

@media(max-width:991px) {
  .nav_menu {
    padding: 20px;
    position: relative;

  }

  header .nav {
    position: absolute;
    top: 60%;
    right: 2%;
    flex-direction: column;
    box-shadow: 0px 0px 13px 5px #c9c9c9;
    background-color: #f8f8f8;
    z-index: 1000;
  }


  .sidebar {
    margin-top: 100px;

  }

  .left_col {
    display: none;
  }

.forms{
  display: none !important;
}








  footer .nav_menu {
    padding: 0 20px;
  }

  footer .nav {
    display: flex;
    flex-direction: column;
  }


  .nav-item {
    text-align: right;
    padding-bottom: 10px;

  }

  footer .nav-item a {
    padding-right: 0;
  }

  footer .logo {
    flex-direction: column;
  }

  footer .links {
    display: none !important;
  }

  footer .logo>.links {
    padding-top: 10px;
    display: flex !important;
  }

  .links span {

    margin: 0 5px;
  }

  .copyright {
    width: 100%;
    border-top: 2px solid #636363;
    padding-top: 10px;
    justify-content: flex-end;
    text-align: right;

  }

}

@media(max-width:450px) {
  * {
    box-shadow: none !important;
  }

  .top_logo {
    display: none !important;
  }

  .nav_menu {
    background-color: #fbfcfd;
    padding: 2px;
  }

  .form-inline {
    width: 50%;
  }

  .search-form {
    min-width: 150px;
    width: 100%;
  }

  main {
    padding-top: 0;
  }


  .first-item {

    background: #fbfcfd;
    padding: 0px 0 50px 0;
  }

  .first-item .logo,
  .first-item .description {
    display: none;

  }

  .mob_img {
    display: flex !important;
    justify-content: center;
  }

  .carousel-item {
    position: relative;
  }

  .first-item .myBtn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    width: 100%;
  }


  .first-item .myBtn a {
    font-size: 18px;
  }

  .carousel-indicators {
    display: none;
  }


  .demo_recipes {
    padding-top: 20px;
    margin-top: 0;
  }

  .recipe p {
    padding-left: 15px;
  }

  .sidebar {
    margin-top: 0;
  }

  .sidebar_column {
    background-color: #fff;
    max-width: 100%;
    padding: 25px 0;
    border-top: 2px solid #dadbdb;
  }

  footer {
    margin: 0;
  }


}