*{
	color: rgb(90, 124, 197);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border-radius: 5px;
	font-family: 'Chewy', cursive;
}

body {
	background:url(../img/background.jpg);
	background-repeat: repeat;
	background-size: contain;
	background-attachment: fixed;
	
	font-size: 14px/22px;
	
	max-width: 1170px;
	margin:auto;
}
hr {
	margin: 0 20px;
}
.container {
	
	margin: 10px;
	display: flex;
	justify-content: space-between;
}
header .box {
	
	margin: 10px;
	height: 100px;
	background-color: rgba(191, 192, 173, 0.6);
	
}
.box.logo {
	display: flex;
	min-width: 170px;
}
.logo>img{
	margin: auto;
}

.company_name{
	font-family: 'Chewy', cursive;
	font-style: italic;
	text-align: center;
	letter-spacing: 5px;
	display: flex;
	flex-grow: 6;
}
.company_name h1{
	margin: auto;
	flex-grow: 7;
}
.box.contacts{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-width: 200px;
	height: 100px;
	text-align:center ;
	flex-grow: 3;
}
.box.contacts a{
	
	color:  rgb(90, 124, 197);
}


.container_content_left {
	
	display: flex;
	flex-direction: column;
	justify-content: start;
	
}
.container_content_left .box {
	padding: 10px;
	margin: 10px;
	height: 100%;
	min-width: 170px;
	background-color:rgba(191, 192, 173, 0.6);
}

 li{
	list-style-type: none;
}
.menu a,
.prices li {
	/* height: 42px; */
	display: block;
	border: 1px solid grey;
	margin-bottom: 2px;
	text-decoration: none;
	color:  rgb(90, 124, 197);;
	font-size: 0.9em;
	padding-left: 5px;
	transition: 0.5s all;
	
}
.menu a:hover,
.prices li:hover {
	
	background-color: grey;
	
}
.text{
	color: #dd355f;
}
.container_content{
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.container_content .box {
	padding: 10px;
	margin: 10px;
	background-color:rgba(191, 192, 173, 0.6);
	text-align: justify;
}
.box>h2{
	text-align: center;

}
.gallery {
	
	background-color: rgba(191, 192, 173, 0.6);
	margin: 20px;
}
.gallery img {
	vertical-align: middle;
	box-sizing: border-box;
	margin: auto;
	width: 160px;
	height: 120px;
}
.gallery img:hover{
	border: 2px solid transparent;
	
}

.container_content .container {
	margin: 0;
}
footer .container{
	display: flex;
	justify-content:space-between;
	height: 120px;
}

.container_right>.box{
	height: 50%;
	margin: 10px;
	font-size: 0.8em;
	background-color: rgba(191, 192, 173, 0.6);
}
.items {
	padding: 10px;
	margin: 10px;
	flex-grow: 1;
 	display: flex;
 	flex-direction: column;
 	flex-wrap: wrap;
	 min-width: 135px;
	 background-color: rgba(191, 192, 173, 0.6);
	
}
.service_prices {
	min-width: 170px;
}
.prices{
	cursor:default;
	list-style-position: inside;
	
}

.container_right {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 200px;
}
.logo2{
	padding-top: 5px;
	text-align: center;
	
}
.vk_profile{
	text-align: center;
	}


#floatTip{
	padding: 3px;
	position: absolute;
	width: 75px;
	height: 40px;
	display: none;
	border: 1px solid black;
	border-radius: 5px;
	background: rgbargba(191, 192, 173, 0.6);

}

.eyes {
	display: inline-flex;
	height: 22px;
	width: 42px;
	border: 1px solid black;
	border-radius: 10%;
	margin: auto;
	background-color: black;

}
.eye1, .eye2 {
	position: relative;
	height: 20px;
	width: 20px;
	border: 1px solid black;
	border-radius: 50%;
	background-color: white;
}
.eye_apple {
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: black;
	position: absolute;
	top:6px;
	left:10px;
}

@media (max-width: 705px) {
	header>.container,
	main>.container,
	footer>.container{
		flex-direction: column;
	}
}
